[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyfilters"]
	path = shinyfilters
	url = https://github.com/joshwlivingston/shinyfilters
